#root {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ff69b4;
  margin-top: 34.304px;
  margin-bottom: 34.304px;
}

h2 {
  border: 1px solid rgb(188, 188, 188);
  padding: 0.5rem 1rem;
  font-size: 1.5em;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
}

input[type="text"] {
  height: 1rem;
  padding: 0.5rem;
  margin: 0.25rem;
  font-size: 1rem;
  color: #ffffffde;
  border: 3px solid rgb(238, 255, 105);
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button,
input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin-top: 1rem;
}

.item {
  border: 1px solid aqua;
  border-radius: 5px;
  margin: 0 0.5rem 0.5rem 0;
  /* width: 100%; */
}

.item > button {
  padding: 0 2px;
  margin-left: 0.5rem;
  border-radius: 1px;
  border: 1px solid rgb(181, 181, 181);
  background-color: #242424;
  color: #dcdcdc;
}

button:hover,
input[type="button"]:hover {
  border-color: #646cff;
}

.btn-container {
  width: 85%;
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  margin-bottom: 0.15rem;
}

.btn-play {
  color: #dcdcdc;
  background-color: red;
  margin-right: 0.5rem;
}

.btn-reset {
  color: #dcdcdc;
  background-color: #242424;
}

.img-container {
  width: 30rem;
  height: 30rem;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.modal {
  font-size: 2rem;
  background-color: #000;
  color: #dcdcdc;
  padding: 0.5rem 1.5rem;
  border: 2px solid red;
  border-radius: 3px;
  margin-bottom: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.modal > button {
  padding: 0 0.55rem;
  margin-left: 1rem;
  background-color: #dcdcdc;
  border-radius: 0;
  color: red;
  width: 40px;
  height: 40px;
}

@media (max-width:480px) {
  .app {
    margin: 0 auto;
  }
  .item-container {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
}
